
#block {
	position: fixed;
	z-index: -2;
	width: 100%;
	height: 100%;
	margin: 100px 100px 100px 0%;

}
 html {
	background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogodix.com%2Flogo%2F48333.png&f=1&nofb=1") center;
    background-size: 100%;
    width: auto;
	height: 90%;
    
}