<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Продукты</title>
</head>
<body>
<form method="post" action="/products">
    <label>Наименование
        <input name="description" placeholder="Наименование">
    </label>
    <label>Цена
        <input name="price" placeholder="Цена">
    </label>
    <label>Количество
        <input name="number" placeholder="Количество">
    </label>
    <input type="submit" value="Добавить">
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Действие</th>
    </tr>
    <#list products as product > <!-- products атрибут ProductController.getProductsPage -->
        <tr>
            <td>${product.id}</td>
            <td><a href="/products/${product.id}">
                ${product.description}</a>
            </td>
            <td>${product.price}</td>
            <td>${product.number}</td>
            <td>
                <form method="post" action="/products/${product.id}/delete">
                    <input type="submit" value="Удалить">
                </form>
            </td>

            <td></td>
        </tr>
    </#list>
</table>
</body>
</html>
